.valeurs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lustria', serif;
    color: #4d301a;
	background-color: #c27741;
	margin-bottom: 20px;

    .div_valeurs {
        display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	grid-template-rows: repeat(2, 1fr);
        text-align: center;
 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;

        h2 {
            font-size: 2em;
            margin-bottom: 10px;
            color: #4d301a; /* Couleur des titres */
            font-family: 'Tan Pearl', serif;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
        }
    }
}