@import './variables.scss';
@import './animations.scss';  // Importer le fichier d'animations
@import '../components/Banner/banner.scss';
@import'../components/Header/header.scss';
@import'../components/Info/info.scss';
@import'../components/About/about.scss';
@import'../components/Valeurs/valeurs.scss';
@import '../components/InstagramFeed/instagramFeed.scss';
@import '../components/Avis/avis.scss';
@import '../components/Contact/contact.scss';
@import '../components/Footer/footer.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #efcd8d;
    font-family: $font-secondary;
  }
p{font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.42857143;
}
h1{
    font-family: $font-primary;
}

// Styles pour le défilement fluide
html {
  scroll-behavior: smooth;
}

// Classe pour masquer les éléments avant l'animation
.invisible {
  opacity: 0;
}