.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #EFEBE2;
    font-family: 'Lustria', serif;
    color: #4d301a;

    .left-container, .right-container {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 0 20px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .center-container {
        flex: 2;
        padding: 20px;
        text-align: center;

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #4d301a;
            font-family: 'Tan Pearl', serif;
			.highlight_title {
                color: #B0714B;
            }
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            color: #666;
        }
		.highlight_text {
			color: #B0714B;
			font-family: "tan pearl", serif;
			font-size: medium;
			margin-top: 20px;
		}
    }
}
